<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%   for(let i of ct){  %>
          <h2><%= i.id %></h2>
          <h2><%= i.title %></h2>
          <h2><%= i.author %></h2>
          <h2><%= i.year %></h2>
          <form action="/show/<%= i.id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        <a href="/fomi">Add</a>
 <%    }      %>
</body>
</html>